<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="registerBg">
        <section class="registerBox bd">
            <div class="regTittle">登陆</div>
            <form method="post" action="/login.do">
                <input type="text" class="phone" placeholder="请输入手机号" id="phone" name="phone">
                <input type="password" placeholder="请输入密码" class="pwd" name="pwd" id="pwd" />
                <div class="other  bd">
                    <label class="obey bd">
                        <input type="checkbox" id="remPwd" checked>&nbsp;记住密码</label>
                    <a class="forgetPwd">忘记密码?</a>
                </div>
                <button class="doReg" id="doLogin">登陆</button>
            </form>
        </section>
    </div>
</body>
</html>