<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h2 class="regTittle">登陆</h2>
    <form method="post" action="/login.do">
        <div>
            <label class="form-label">用户名：</label>
            <input type="text" class="phone" placeholder="请输入手机号" id="phone" name="phone">
        </div>
        <br>
        <div>
            <label class="form-label">密码：</label>
            <input type="password" placeholder="请输入密码" class="pwd" name="pwd" id="pwd" />
        </div>
        <br>
        <button class="doReg" id="doLogin">登陆</button>
    </form>
</body>

</html>