<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2>注册</h2>
    <form method="post" action="/register">
        <div>
            <label>账号：</label>
            <input type="text" class="phone" placeholder="请输入手机号" id="phone" name="phone"></div>
        <br>
        <div>
            <label>密码：</label>
            <input type="password" placeholder="请输入密码" class="pwd" name="pwd" id="pwd" /></div>
        <br>
        <button>注册</button>
    </form>
</body>
</html>